.template-menu {
  background-color: @menu-bg-color;
  position:fixed;
  left:0px;
  top:0px;
  bottom:0px;
  width: @menu-collapsed-width;
  padding: @menu-padding;
  z-index:2;

  .transition(width, @animation-duration, @animation-wait);

  &.expanded/*, &:hover*/ {
    width: @menu-full-width;

    .template-menu-collapse {
      right:20px;
      &:after { content: @fa-var-times; }
    }

    &.finished {
      .logo {
        .opacity(1);
        position: static;
        margin-top:-3px;
      }

      nav {
        text-align: left;

        a {
          span {
            display: inline-block;
          }
        }
      }

      .i18n-list {
        display: block;
      }
    }

    & + #template-container, & + .template-container {
      left:@menu-full-width;
    }
  }

  .template-menu-collapse {
    color:@menu-color;
    font-size: @menu-icon-fontsize;
    text-align: center;
    cursor:pointer;
    position:absolute;
    right:50%;
    margin-right:-10px;
    vertical-align: middle;

    &:after {
      display: inline-block;
      content: @fa-var-bars;
    }

    .transition(right, @animation-duration, @animation-wait);

    .logo {
      width: 162px;
      height: 13px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      margin-top: -100px;

      .opacity(0);
      .transition(opacity, @animation-duration, 0s);


      background: url('../menu/img/logo_w.png') no-repeat 50% 50%;
    }
  }

  nav {
    margin-top:@padding * 1.5 + 8px;
    text-align: center;

    li {
      height:@menu-item-height;

      a {
        color: @menu-color;
        text-align: center;

        &:hover {
          i {.opacity(0.8);}
          span {.opacity(0.8);}
        }

        i {
          font-size: @menu-icon-fontsize;

        }
        span {
          display: none;
        }
      }
    }
  }

  .i18n-list {
    display: none;
  }
}