.icon2 {
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor:pointer;

  &.left { background-position: 0% 50%; }
  &.icon_16x16 	{ min-width:18px; min-height:18px; line-height:18px; }

  &.icon-edit {
    background-image: url(../container/img/edit.png);
    &.hover, &:hover { background-image: url(../container/img/edit_hover.png); }
    &.active, &:active { background-image: url(../container/img/edit_active.png); }
  }
  &.icon-delete {
    background-image: url(../img/delete.png);
    &.hover, &:hover, &.active, &:active { background-image: url(../img/delete_hover.png); }
  }
}
