.template-menu {
  background-color: @menu-bg-color;
  position:fixed;
  left:0px;
  top:0px;
  bottom:0px;
  width: @menu-collapsed-width;
  padding: @menu-padding;
  z-index:2;

  .transition(width, @animation-duration, @animation-wait);

  &.expanded/*, &:hover*/ {
    width: @menu-full-width;

    &.finished {
      .template-menu-collapse {
        background-position: 0% 50%;
        &:after { content: @fa-var-times; }

        img {
          position:static;
          .opacity(1);
        }
      }

      nav {
        text-align: left;

        a {
          span {
            display: inline-block;
          }
        }
      }

      .i18n-list {
        display: block;
      }
    }

    & + #template-container, & + .template-container {
      left:@menu-full-width;
    }
  }

  .template-menu-collapse {
    color:@menu-color;
    font-size: @menu-icon-fontsize;
    text-align: center;
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: 2000% 50%;

    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:3*@padding;
    line-height:3*@padding + 2*@menu-fixer;

    &:after {  content: @fa-var-bars; }

    img {
      position:absolute;
      top:-10*@padding;
      .opacity(0);

      .transition(opacity, @animation-duration, 0);
    }
  }

  nav {
    text-align: center;

    /* Try to make lines */
    margin-top:2*@padding ;

    li {
      height:@menu-item-height;

      a {
        color: @menu-color;
        text-align: center;

        &:hover {
          i {.opacity(0.8);}
          span {.opacity(0.8);}
        }

        i {
          font-size: @menu-icon-fontsize;
          min-width: 1.5*@padding;
        }
        span {
          display: none;
        }
      }
    }
  }

  .i18n-list {
    display: none;
  }
}