.table2 {
  display: table;
  width: 100%;
  clear: both;
  border-collapse: collapse;

  &.default {
    .table2-row {
      .table2-col {
        &.control {
          text-align: center;
          max-width: 6*@padding;

          a {
            width: 18px;
            display: inline-block;
          }
        }
        &.id {
          text-align: center;
          max-width: 4*@padding;
        }
      }
    }
  }

  .table2-body {
    display: table-row-group;
  }

  .table2-row {
    display: table-row;
    background-color: @table2-row-bg;

    &.table2-row-notfound {
      background: none;
    }

    &.table2-row-empty {
      background: none;
    }

    .table2-col {
      display: table-cell;
      position:relative;
      padding: 5px 10px;
      border: 1px solid @table2-border-color;
      font-size: 15px;
      text-align: left;
      vertical-align: middle;

      > .label{
        display: none;
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      &.control {
        a {
          font-size:@block-icon-font-size;
          &:hover {
            text-decoration: none;
            opacity: 0.7;
          }
        }
      }


      &.table2-header-col {
        text-align: left;
        padding: @table2-v-padding @table2-h-padding;
        cursor: pointer;
        background-color: @table2-header-bg-color;
        color: #000;

        .collection-sort-link {
          position: relative;
          &:after {
            font: normal normal normal 14px/1 FontAwesome;
            content: @fa-var-caret-right;
            position: absolute;
            right: -10px;
            top: 3px;
          }

          &.asc {
            &:after {
              content: @fa-var-caret-down;
            }
          }
          &.desc {
            &:after {
              content: @fa-var-caret-up;
            }
          }
        }
      }
    }
  }

  .table2-body {
    .table2-row:nth-child(even) {
      background-color: @table2-row-even-color;
    }

    .table2-row:hover {
      .table2-col {
        background-color: @table2-row-hover-bg;
      }
    }
  }
}
