.table2 {
  &.tiles, &.mobile-version {
    display: block;

    .table2-body {
      display: block;
      text-align: center;
    }

    .table2-row {
      display: inline-block;
      margin: @padding @padding 0 0;
      width: 18.5%;
      min-width: 10*@padding;
      border: 1px solid @table2-border-color;
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }

      .table2-col {
        display: block;
        font-size: 0.9em;
        min-height:@padding;
        border:none;
        width: 100%;
      }

      &.table2-header-row {
        display: none;
      }
    }
  }
}