.icon2 {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor:pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;

  font-family: 'FontAwesome';
  font-style: normal;

  &.icon-left { background-position: 0% 50%; }
  &.icon_16x16 	{ min-width:18px; min-height:18px; line-height:18px; }

  &.icon-edit {
    &:before { content: @fa-var-pencil; }
  }

  &.icon-delete {
    &:before { content: @fa-var-trash-o; }
  }

  &.icon-main {
    &:before { content: @fa-var-home; }
  }

  &.icon-site {
    &:before { content: @fa-var-globe; }
  }

  &.icon-logout {
    &:before { content: @fa-var-sign-out; }
  }

  &.icon-search {
    &:before { content: @fa-var-search; }
  }

  &.icon-material {
    &:before { content: @fa-var-book; }
  }

  &.icon-user {
    &:before { content: @fa-var-user; }
  }

  &.icon-structure {
    &:before { content: @fa-var-cubes; }
  }

  &.icon-draft {
    &:before { content: @fa-var-file-o; }
  }

  &.icon-copy-material {
    &:before { content: @fa-var-files-o;}
  }

  &.icon-add {
    &:before {content: @fa-var-plus;}
  }

  &.icon-add-material {
    &:before {content: @fa-var-file-o;}
  }

  &.icon-delete-material {
    &:before {content: @fa-var-trash-o;}
  }

  &.icon-moveup {
    &:before {content: @fa-var-arrow-up;}
  }

  &.icon-movedown {
    &:before {content: @fa-var-arrow-down;}
  }

  &.icon-add-field {
    &:before {content: @fa-var-list;}
  }

  &.icon-right {
    &:before {content: @fa-var-cogs;}
  }
}
