* { /* SSet default font and size */
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size:13px;
}

a { /* Set default link style */
  color: black;
}

/* Main data container */
#content {
  position:absolute;
  top:60px;
  left:0px;
  right:0px;
  bottom:0px;
  overflow-y:auto;
  overflow-x:hidden;
  margin: 0 @padding @padding @padding;
  padding:0px 0px 0px 0px;
}