.template-form-input {
  position: relative;
  height: @form-group-height;

  /* Filled input block state, temporary done via JS */
  &.filled {
    label {
      font-size: @form-group-placeholder-font-size * 0.85;
      top: -0.15 * @form-group-height;
    }
  }

  /* Input field */
  input[type=text] {
    border:0;
    border-bottom: 1px solid @theme-color;
    width:100%;
    height: @form-group-height / 2;
    margin-top: @form-group-height / 2;
    padding-bottom: @padding / 4;
    z-index: 2;

    transition:border, @animation-duration;

    &:focus {
      outline: none;
      border-bottom-width: 2px;
      border-color:green;

      /* Label styling trigger */
      & ~ .template-form-input-placeholder {
        font-size: @form-group-placeholder-font-size * 0.85;
        top: -0.15 * @form-group-height;
        color:@form-group-input-active-color;
      }
    }
  }

  /* Make label to act like placeholder via css */
  label {
    position:absolute;
    top:(@form-group-height / 2) - @padding / 4;
    font-size: @form-group-placeholder-font-size;
    z-index: 1;
    padding-bottom: @padding / 4;
    color:@form-group-input-color;
    cursor:text;

    .opacity(0.8);

    transition:font @animation-duration, top @animation-duration, color @animation-duration;
  }
}